.course-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.course-carousel-area{
    overflow-x: hidden;
}
.course-carousel-area .slick-slider{
    width: calc( 100% + 16px );
    margin-left: -8px;
}
.slick-track{
    padding: 30px 0px;
}
.course-carousel-area .slick-list:before,
.course-carousel-area .slick-list:after{
    position: absolute;
    content: "";
    top:0;
    right: 0;
    height: 100%;
    width: 8px;
    z-index: 1;
}
.course-carousel-area .slick-list:after{
    right: auto;
    left: 0
}

.course-carousel .slick-prev:hover,
.course-carousel .slick-next:hover{
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
}
.course-carousel .slick-prev:focus,
.course-carousel .slick-next:focus{
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1) !important;
}

.course-carousel .slick-prev,
.course-carousel .slick-next{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 1;
    top: calc( 50% - 25px);
}
.course-carousel .slick-prev{
    left: -28px;
}
.course-carousel .slick-prev.slick-disabled,
.course-carousel .slick-next.slick-disabled{
    opacity: 0;
}
.course-carousel .slick-prev:before{
    content: url('/images/prev_arrow.png');
    line-height: 0;
    opacity: 1
}
.course-carousel .slick-next{
    right: -15px
}
.course-carousel .slick-next:before{
    content:url('/images/next_arrow.png');
    line-height: 0;
    opacity: 1;
}
.course-box-wrap:focus{
    outline: none;
}
.course-box-wrap{
    margin: 10px;
}
.course-box-wrap a{
    color: #000;
    text-decoration: none;

}
.course-box-wrap a:hover{
    text-decoration: none;
}
.course-box{
    /*box-shadow: 0px 8px 15px 0px #0000000f;*/
    box-shadow: 0px 10px 25px #00000010;
    position: relative;
    background: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}
.course-box:before,
.course-box:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    will-change: opacity;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -ms-webkit-transition: .2s ease;
    z-index: -1;
}
.course-box:hover:before{
    opacity: 0;
}
.course-box:hover:after{
    opacity: 1;
}
.course-box:hover{
    box-shadow: 0px 12px 46px -20px #c9c9c9;
    transition: all .3s ease;
}

.webui-popover{
    box-shadow: 0 4px 16px rgb(128 134 144 / 25%);
    border-color: transparent;
    border-radius: 10px;
    background-color: #fff;
}


/* ------------hide-image --------------------- */

.md-panels{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden; 
  }
  #about-member-header {
    background-image:url("https://skillfix.co.ke/public/img/team/member_header.jpg");    
    color:#fff;
    top:0;
    background-attachment: fixed;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    height: 80vh;
    background-color: #f2f5f7;
  }
  #about-member-content-wrapper{
    top: 80vh;
    z-index: 2;
    background: #f2f5f7;
    position: relative;
  }
  .about-member-content__image{
    max-height: 400px;
    overflow: hidden;
    margin: 40px auto;
    max-width: 980px;
    background-image:url("https://skillfix.co.ke/public/img/team/member_header.jpg");
   
  }
  .about-member-content__more-info{
    padding: 50px 0;
    margin: 0 auto;
    max-width: 980px;
  }
  .about-member__heading {
    position: absolute;
    max-width: 980px;
    padding-top: 250px;
    top: 0;
    width: 100%;
    left: 17%;
  }
  
  .about-member__heading h2 {
    color: #fff;
    font-size: 72px;
  }
  
  .about-member-content__intro {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .about-member-content p {
    margin-bottom: 30px;
    text-align: justify;
  }
  
  .about-member-content__image {
    max-height: 400px;
    overflow: hidden;
    margin: 40px auto;
    max-width: 980px;
  }
  
  .about-member-content__quote {
    max-width: 600px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: solid 1px #ec5252;
    border-radius: 15px;
  }
  
  .about-member-content__quote p {
    text-align: center;
  }
  
  .about-member-content__quote .tagline {
    margin-bottom: unset;
    font-size: 26px;
  }
  
  .about-member-content__booking_info,
  .about-member-content__booking_info p {
    text-align: center;
    margin: 10px 0;
  }
  
  .about-member-content__booking_info h3 {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 22px;
  }
  
  .md-services {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 40px 0;
  }



  /* ------accordion section ------- */
.approach-section {
    background: #ec5252;
    color: #fff;
    min-height: 300px;
}
.approach-content{
    padding-left: 9%; 
}
.accrodion-section {
    padding-right: 90px !important;
    padding-top: 60px !important; /* Adjust padding as needed */
    padding-bottom: 40px !important;
}
.approach-image{
    background-image: url(/images/people-shaking-hands.jpg);
    background-size: cover;
    min-height: 300px;
}
.accordion-header {
    background-color: #ec5252;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) ; 
    transition: 0.4s;
  }
  
  .accordion-header:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;  
  }
  .active:after {
    content: "\2716";
    font-size: 12px;
    color: #fff;
    font-weight: bold;
  }
  
  .accordion-content {
    background-color: #ec5252;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    color: #fff;
  }
  .button-accordion{
    background-color: #ec5252 ;
    border: none ; /* Remove the border from the button */
    outline: none ; /* Remove the focus outline */
    box-shadow: none; /* Remove the focus box-shadow */
    color: #fff;
}

.mfp-with-zoom .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgba(255, 255, 255, 0);
    padding: 1em;
    transition: all 0.2s ease;
    font-weight: 600;
    max-width: calc(100% - 9em);
    line-height: 1.25;
    text-align: center;
    box-sizing: border-box;
  }
  .mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
  .mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
    right: 100%;
    bottom: 100%;
  }
  .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
    left: 100%;
    top: 100%;
  }
  
  .mfp-with-zoom.mfp-ready .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image:hover figcaption {
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0.3s;
  }
  .mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before, .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before {
    right: -1.5em;
    bottom: -1.5em;
  }
  .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
    left: -1.5em;
    top: -1.5em;
  }
  
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .gallery {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  @media (min-width: 480px) {
    .gallery {
      -moz-column-count: 2;
           column-count: 2;
    }
  }
  @media (min-width: 1260px) {
    .gallery {
      -moz-column-count: 3;
           column-count: 3;
    }
  }
  
  .gallery-image {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .gallery-image:before, .gallery-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    will-change: border;
  }
  .gallery-image:after {
    border-width: 0;
  }
  .gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  html:not(.touch) .gallery-image {
    overflow: hidden;
  }
  html:not(.touch) .gallery-image:hover:before {
    border-width: 16px;
  }
  html:not(.touch) .gallery-image:hover:after {
    border-width: 32px;
  }
  .touch .gallery-image figcaption {
    top: auto;
    bottom: 2em;
  }
  
  .mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: all 0.3s ease-out;
  }
  .mfp-with-zoom.mfp-bg {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
  }
  .mfp-with-zoom img.mfp-img {
    padding: 0;
  }
  .mfp-with-zoom .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-with-zoom .mfp-container {
    padding: 0;
  }
  .mfp-with-zoom .mfp-content {
    overflow: hidden;
  }
  .mfp-with-zoom .mfp-bottom-bar {
    top: auto;
    bottom: 0;
    margin-top: 0;
  }
  .mfp-with-zoom .mfp-title {
    top: auto;
    bottom: 2em;
  }
  .mfp-arrow {
    opacity: 1;
    margin-top: 0 !important;
    width: 20%;
    height: 30%;
    transform: translateY(-50%);
  }
  .mfp-arrow:before, .mfp-arrow:after {
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    transform: rotate(-45deg) translate(-50%, -100%);
    opacity: 1;
    top: 50%;
    left: 50%;
    transition: all 0.15s;
  }
  .mfp-arrow:active {
    transform: translateY(-50%) scale(0.95);
  }
  
  .mfp-arrow-left {
    left: 0;
  }
  .mfp-arrow-left:before, .mfp-arrow-left:after {
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
  .mfp-arrow-left:after {
    margin-left: 2rem;
  }
  .mfp-arrow-left:hover:before, .mfp-arrow-left:active:before {
    margin-left: 2rem;
  }
  .mfp-arrow-left:hover:after, .mfp-arrow-left:active:after {
    margin-left: 0;
  }
  
  .mfp-arrow-right {
    right: 0;
  }
  .mfp-arrow-right:before, .mfp-arrow-right:after {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  .mfp-arrow-right:after {
    margin-left: 2rem;
  }
  .mfp-arrow-right:hover:before {
    margin-left: 2rem;
  }
  .mfp-arrow-right:hover:after {
    margin-left: 0;
  }
  
  button.mfp-close {
    opacity: 1;
    margin-top: 0 !important;
    width: 20%;
    height: 30%;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
  }
  button.mfp-close:before, button.mfp-close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    transition: all 0.15s;
    transform-origin: 0 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
  button.mfp-close:before {
    transform: rotate(-45deg);
  }
  button.mfp-close:after {
    transform: rotate(135deg);
  }
  button.mfp-close:hover:before {
    transform: rotate(135deg);
  }
  button.mfp-close:hover:after {
    transform: rotate(315deg);
  }
  button.mfp-close:active {
    transform: scale(0.95);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .mfp-with-zoom .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgba(255, 255, 255, 0);
    padding: 1em;
    transition: all 0.2s ease;
    font-weight: 600;
    max-width: calc(100% - 9em);
    line-height: 1.25;
    text-align: center;
    box-sizing: border-box;
  }
  .mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 1em;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
  }
  .mfp-with-zoom .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image figcaption:before, .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
    right: 100%;
    bottom: 100%;
  }
  .mfp-with-zoom .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image figcaption:after {
    left: 100%;
    top: 100%;
  }
  
  .mfp-with-zoom.mfp-ready .mfp-title, .touch .gallery-image figcaption, html:not(.touch) .gallery-image:hover figcaption {
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease 0.3s;
    padding: 25px;
  }
  .mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before, .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-ready .mfp-title:before, .touch .gallery-image figcaption:before, html:not(.touch) .gallery-image:hover figcaption:before {
    right: -0.5em;
    bottom: -0.5em;
  }
  .mfp-with-zoom.mfp-ready .mfp-title:after, .touch .gallery-image figcaption:after, html:not(.touch) .gallery-image:hover figcaption:after {
    left: -0.3em;
    top: -0.3em;
  }
  
  html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .gallery {
    -moz-column-gap: 0;
         column-gap: 0;
  }
  @media (min-width: 480px) {
    .gallery {
      -moz-column-count: 2;
           column-count: 2;
    }
  }
  @media (min-width: 1260px) {
    .gallery {
      -moz-column-count: 3;
           column-count: 3;
    }
  }
  
  .gallery-image {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .gallery-image:before, .gallery-image:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    will-change: border;
  }
  .gallery-image:after {
    border-width: 0;
  }
  .gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  html:not(.touch) .gallery-image {
    overflow: hidden;
  }
  html:not(.touch) .gallery-image:hover:before {
    border-width: 16px;
  }
  html:not(.touch) .gallery-image:hover:after {
    border-width: 32px;
  }
  .touch .gallery-image figcaption {
    top: auto;
    bottom: 2em;
  }
  
  .mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: all 0.3s ease-out;
  }
  .mfp-with-zoom.mfp-bg {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 1;
  }
  .mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
  }
  .mfp-with-zoom img.mfp-img {
    padding: 0;
  }
  .mfp-with-zoom .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-with-zoom .mfp-container {
    padding: 0;
  }
  .mfp-with-zoom .mfp-content {
    overflow: hidden;
  }
  .mfp-with-zoom .mfp-bottom-bar {
    top: auto;
    bottom: 0;
    margin-top: 0;
  }
  .mfp-with-zoom .mfp-title {
    top: auto;
    bottom: 2em;
  }
  .mfp-arrow {
    opacity: 1;
    margin-top: 0 !important;
    width: 20%;
    height: 30%;
    transform: translateY(-50%);
  }
  .mfp-arrow:before, .mfp-arrow:after {
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    transform: rotate(-45deg) translate(-50%, -100%);
    opacity: 1;
    top: 50%;
    left: 50%;
    transition: all 0.15s;
  }
  .mfp-arrow:active {
    transform: translateY(-50%) scale(0.95);
  }
  
  .mfp-arrow-left {
    left: 0;
  }
  .mfp-arrow-left:before, .mfp-arrow-left:after {
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
  .mfp-arrow-left:after {
    margin-left: 2rem;
  }
  .mfp-arrow-left:hover:before, .mfp-arrow-left:active:before {
    margin-left: 2rem;
  }
  .mfp-arrow-left:hover:after, .mfp-arrow-left:active:after {
    margin-left: 0;
  }
  
  .mfp-arrow-right {
    right: 0;
  }
  .mfp-arrow-right:before, .mfp-arrow-right:after {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  .mfp-arrow-right:after {
    margin-left: 2rem;
  }
  .mfp-arrow-right:hover:before {
    margin-left: 2rem;
  }
  .mfp-arrow-right:hover:after {
    margin-left: 0;
  }
  
  button.mfp-close {
    opacity: 1;
    margin-top: 0 !important;
    width: 20%;
    height: 30%;
    font: 0/0 serif;
    text-shadow: none;
    color: transparent;
  }
  button.mfp-close:before, button.mfp-close:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    transition: all 0.15s;
    transform-origin: 0 0;
    border-top: 2px solid white;
    border-left: 2px solid white;
  }
  button.mfp-close:before {
    transform: rotate(-45deg);
  }
  button.mfp-close:after {
    transform: rotate(135deg);
  }
  button.mfp-close:hover:before {
    transform: rotate(135deg);
  }
  button.mfp-close:hover:after {
    transform: rotate(315deg);
  }
  button.mfp-close:active {
    transform: scale(0.95);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
